* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body, html{
    width: 100%;
    height: 100%;
}

:root {
    --primary: #1e90ff;
    --white: #fff;
    --secondary: #fecd45;
    --offset: 187;
    --duration: 1.4s;
  }

/* Header styles */
header {
    height: 10%;
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    padding: 1.2rem;
    position: fixed;
}

header, .title{
    font-weight: bold;
    font-size: 24px;
}

/* Content styles */
.h-full {
    height: 100%;
} 

.w-full { 
    width: 100%;
}

.flex {
    display: flex;
}

.grid{
    display: grid;
}

.center {
    justify-content: center;
}

.items-center{
    align-items: center;
}

.form-container{
    width: 180px;
    margin: 5px;
}

.form-container input{
    margin: 5px 0;
    width: 100%;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 25px;
    padding: 5px;
    outline: none;
}

.form-container input:focus{
    border: 2.5px solid var(--secondary);
}

.calc-btn{
    background-color: var(--secondary);
    border: none;
    padding: 10px 14px;
    color: var(--white);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.calc-btn:hover{
    background-color: darkgoldenrod;
}

/* Spinner */

.spinner {
  animation: rotator var(--duration) linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: var(--offset);
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash var(--duration) ease-in-out infinite, 
    colors var(--duration) ease-in-out infinite;
}

@keyframes colors {
	0% { stroke: #4285F4; }
    100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: var(--offset); }
 50% {
   stroke-dashoffset: var(--offset)/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: var(--offset);
   transform:rotate(450deg);
 }
}

/* Modal */
.modal-window {
    position: fixed;
    z-index: 999;
    top: 0; left: 0; right: 0; bottom: 0;
    visibility: visible;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window.show .alert {
    width: 400px;
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}
  
.modal-overlay {
    z-index: 999;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
}

.modal-overlay.show{
    visibility: visible;
    opacity: 1;
}